:root {
  --primary-bg: #121212;
  --secondary-bg: #2a2a2a;
  --text-color: #ffffff;
  --accent-green: #81c784;
  --accent-red: #f28b82;
  --accent-blue: #ffffff;
  /*--accent-blue: #4da6ff;*/
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;

}
body {
  overflow-x: hidden; /* solo evita el scroll lateral */
  overflow-y: auto;   /* permite el scroll vertical */
}


.container {
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;
  height: auto;
}

.banner {
  display: block;
  width: 80%;
  height: auto; /* ← clave para altura dinámica */
  overflow: visible;
  border-radius: 10px;
  margin: 15px auto 0 auto;
  animation: fadeInScale 0.4s ease-in-out;
  
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 2rem auto 1rem;
  color: #ffffff;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  
  /* Sombra en el texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  /* Animación simple */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


button {
  width: 80%;
  margin: 33px auto;
  padding: 14px;
  font-size: 16px;
  background-color: #1e1e1e;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

button:hover {
  transform: scale(1.03);
  background-color: #333;
  border-color: #ccc;
}

/* Botones de acción */
button.guardar {
  background-color: var(--accent-green);
  border-color: var(--accent-green);
}

button.guardar:hover {
  background-color: #66bb6a;
}

button.cancelar {
  background-color: var(--accent-red);
  border-color: var(--accent-red);
}

button.cancelar:hover {
  background-color: #e57373;
}

button.editar {
  background-color: #2b6ff6;
  border-color: #2b6ff6;
}

button.editar:hover {
  background-color: #3399ff;
  border-color: #3399ff;
}

.imc{
  margin: 10px 20px;

}

input, textarea {
  width: 90%;
  margin: 10px auto auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-bg);
  color: white;
  transition: background-color 0.2s ease;
  display:flex
}

textarea {
  resize: vertical;
}

.hidden {
  display: none;
}

#preview img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  animation: fadeInScale 0.3s ease-in-out;
}

/* Card Layout */
.card {
  background-color: var(--secondary-bg);
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
}

.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #444;
  margin-bottom: 12px;
}

.card .info {
  text-align: start;
  margin-top: 10px;
  color: white;
}
.card .info > div {
  margin-bottom: 6px;
}
.card .info div:first-child {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', 'Arial Black', sans-serif;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 5px;
  text-align: justify;
  width: 120px;
  margin-top: 4px;
}
.card-buttons button {
  margin: 0 0 8px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  border: 3px solid white;
}

.modal .close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.form-section {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #555;
}

.form-section h3 {
  font-size: 18px;
  color: var(--accent-blue);
  margin: 5px 15px;
}

#imc-info {
  margin-top: 8px;
  font-weight: bold;
}

.peso-libras{
  margin-top: 6px;
}

.etiqueta-mes{
  margin: 12px;
}

.hidden {
  display: none;
}

/* Estado */
.status-green {
  color: #00cc66;
}

.status-red {
  color: #ff4444;
}

/* Secciones animadas */
section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

section:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}

/* Animaciones */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ---------------- FLOATING LABEL 50/50 ---------------- */
.input-row {
  display: flex;
  gap: 1rem;
  flex-wrap:  nowrap;
  width: 95%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px auto;
  
}

.floating-group {
  position: relative;
  flex: 1 1 45%;
  min-width: 0;
  position: relative;
}
.floating-group input {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.floating-group input,
.floating-group select {
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  border: 1px solid #444;
  color: var(--text-color);
  font-size: 16px;
  outline: none;
}

.floating-group textarea {
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  border: 1px solid #444;
  color: var(--text-color);
  font-size: 16px;
  resize: vertical;
}

.floating-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  background: transparent;
  padding: 0 4px;
  font-size: 14px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.floating-group input:focus + label,
.floating-group input:not(:placeholder-shown) + label,
.floating-group select:focus + label,
.floating-group select:not([value=""]) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
 /* color: var(--accent-blue);*/
  color: #4da6ff;
  background-color: var(--primary-bg);
  padding: 0 4px;
}

/* Responsive fallback */
@media (max-width: 600px) {
  .banner {
    max-height: 120px;
    object-fit: cover;
  }

  #main-buttons {
    margin-top: 40px;
  }

  .floating-group {
    flex: 1 1 100%;
  }
}
  .kpi-box {
  background-color: var(--secondary-bg);
  padding: 20px;
  max-width: 500px;  
  margin: 0 auto;
  border-radius: 10px;
  font-size: 17px;
  display: Flex;
  justify-content: space-between;
  align-items: center;
 /* border-left: 6px solid white;*/
}

.kpi-white {
  border-left-color: white;
  color: white;
}

.kpi-green {
  border-left-color: var(--accent-green);
  color: var(--accent-green);
}

.kpi-red {
  border-left-color: var(--accent-red);
  color: var(--accent-red);
}

.kpi-soft-red {
  border-left-color: #ff9999;
  color: #ff9999;
}

.separador {
  margin: 30px 0 20px;
  border-top: 1px dashed #666;
}

html, body {
  scroll-behavior: auto !important;
  overscroll-behavior-y: contain; /* evita rebotes de scroll en móviles */
}

input, select, textarea {
  scroll-margin-top: 120px; /* espacio para que el campo no quede bajo el teclado */
}
